@import url('https://fonts.googleapis.com/css2?family=Neucha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Patrick+Hand&display=swap');

#root {
 /*color*/
 --background-color: #21354710;
 --random-number: #ff6764;
 --button-hover: #808080;

 /*font*/
    --font-title: 'Neucha', cursive;
    --font-text:'Patrick Hand', cursive;

/*accesibility*/
font-size: 62.5%;

 text-align: center;
 margin: auto;
}
.dark {
    background-color: black;
    color: white;
  }
  
  .light {
    background-color: white;
    color: black;
  }

.theme{
    position: absolute;
    right: 10rem;
    font-size: 1.2rem;
    background-color: rgba(128, 128, 128, 0.121);
    padding: .6rem;
    border-radius: 1rem;
}
.input{
    position: absolute;
    z-index: -1;
    opacity: 0;

}

.theme:hover{
    background-color: var(--random-number);
    color: white;
}





